@model TrashCollector.Models.SetSchedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SetSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day.DayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.DayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time.TimeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time.TimeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
