@model IEnumerable<TrashCollector.Models.SetSchedule>

@{
    ViewBag.Title = "Index";
}
@{
    var prod = (List<string>)ViewData["MyProduct1"];
}
@{
    var prod2 = (List<string>)ViewData["MyProduct2"];
}
@{
    var prod3 = (List<string>)ViewData["MyProduct3"];
}
@{
    var prod26 = (List<int>)ViewData["MyProduct26"];
}

<h2>Your Schedule for 2017</h2>

<table class="table">
    <tr>
        <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
        <th>
            @Html.ActionLink("Change All", "Create")
        </th>
        <th>
            @Html.ActionLink("Change Specific Date", "Create","SetWeekSchedules")
        </th>
    </tr>
</table>
    
<table class="table">
    <tr>
        <th>
            <h4><b>Week</b></h4>
        </th>
        <th>
            <h4><b>Pick Up Days</b></h4>
        </th>
        <th>
            <h4><b>Pick Up Time</b></h4>
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < prod.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => prod[i])
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod3[i])
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod2[i])
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Delete scheduled Pick up" onclick="location.href='@Url.Action("DeletePickUp", "SetSchedules", new { id = prod26[i], memberid = prod[i] },null)'" />
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
